<!DOCTYPE html>
<head>
    <title>File upload</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="top-nav">
        <a href="/" >View</a>
        <a href="/upload">Upload</a>
    </div>
    <div class="view-container">
        <!-- Test case only
        # let uploads = [{name: 'test', path: 'images/87299695-thyme-herb.jpg'}, {name: 'test', path: 'images/87299695-thyme-herb.jpg'}];
        -->
        <% uploads.forEach( (upload) => {%>
        <div>
            <img src="<%= upload.PICTURE_PATH%>" height="200px" width="200px">
            <p><%= upload.PICTURE_NAME%></p>
        </div>
        <%})%>
    </div>
</body>

