<!DOCTYPE html>
<head>
    <title>File upload</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="top-nav">
        <a href="/">View</a>
        <a href="/upload">Upload</a>
    </div>
</div>
<form action="/upload" method="post" id="upload-form" enctype="multipart/form-data">
    <div class="form-container">
        <div>
            <label for="path">Select a file:</label>
            <input type="file" id="path" form="upload-form" name="uploaded_file">
        </div>
        <div>
            <label for="name">Select a name:</label>
            <input type="text" id="name" form="upload-form" name="name">
        </div>
        <div class="submit-container">
            <button class="button" type="submit">Upload</button>
        </div>
    </div>
</form>
</body>
